<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create user</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body style="font-family: 'Alfa Slab One', cursive">
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <label for="id" style="padding-left: 50%; padding-top: 15%">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="firstName" style="padding-left: 50%">First name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
    <br/>
    <label for="lastName" style="padding-left: 50%">Last name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <br/>
    <div class="bbt" style="padding-left: 55%">
    <input type="submit" class="btn btn-primary" value="Update User">
    </div>
</form>
</body>
</html>